<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/_links') %>
    <title>Grandma's Creamery - Checkout</title>
</head>




<body class= "mainbox-orderpage">
  <%- include('partials/_header') %>
<div>
<div class="order-name">
  <h2>IN PROGRESS ORDERS</h2>
</div>
<div class="order-list">
  <% for(let item of order) { %>
<p>
    Order Id #<%= item.id %>
</p>
<p>
  Order Placed At (<%= item.created_at.toDateString() %>)
</p>
<p>
  <%= item.username%>
</p>
<p>
  <%= item.phone_number%>
</p>
<button>Send SMS</button>
<% } %>
</div>




</div>


</body>

</html>
