<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/_links') %>
    <title>Grandma's Creamery - Checkout</title>
</head>
<h3>Checkout</h3>

<form method="POST" action="/menu/checkout">
  <div class="customer-form">
    <label for="customer-fullname">Full Name</label>
    <input type="text" name="customer-fullname" class="form-control" placeholder="Full Name">
    <label for="customer-mobile">Mobile</label>
    <input type="text" name="customer-mobile" class="form-control" placeholder="So we can contact you">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" placeholder="Email">
  </div>
</form>

<body>
  <%- include('partials/_header') %>
    <div class="cart-container">
      <header class="cart-header">
        <div class="cart-title">
          <h2>My Order</h2>
        </div>
        <button class="exit"> X </button>
      </header>
      <div class="cart-content">
        <% for (let order in listOfOrders) { %>
          <div class="cart-item">
            <h1 class="item-name">
              <%=order%>
            </h1>
            <div class="right-side-container">
              <p class="quantity">
                <%=listOfOrders[order]%>
              </p>
              <p class="price">
                <%=listOfOrders[order] * (price[order] / 100)%>
              </p>
              <button class="remove-item-btn"></button>
            </div>

          </div>
          <% } %>
      </div>
      <footer class="cart-footer">
        <form method="POST" action="/menu/checkout">
          <button type="submit" class="cart-checkout-btn">Place Order</button>
        </form>
      </footer>
    </div>


</body>

</html>
