<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/_links') %>
    <title>Grandma's Creamery - Checkout</title>
</head>
<h3>Checkout</h3>

<body>
  <%- include('partials/_header') %>
    <% let subTotal=0;%>
      <div class="cart-container">
        <header class="cart-header">
          <div class="cart-title">
            <h2>Pick Up Address</h2>
            <p>Total quantity</p>
          </div>
        </header>
        <div class="cart-content">
          <% for (let order in listOfOrders) { %>
            <div class="cart-item">
              <p class="cart-item-name">
                <%=order%>
              </p>

              <div class="item-order-info">
                <h3>
                  <%=listOfOrders[order]%>
                    <span>•</span>
                    $<%=(listOfOrders[order] * (price[order] / 100)).toFixed(2)%>
                </h3>
              </div>

            </div>
            <% subTotal=subTotal + (listOfOrders[order] * (price[order] / 100))%>
              <% } %>
        </div>

        <footer class="cart-footer">
          <form method="POST" action="/menu/checkout">
            <div class="customer-form">
              <label for="customer-fullname">Full Name</label>
              <input type="text" name="customer-fullname" class="form-control" placeholder="Full Name">
              <label for="customer-mobile">Mobile</label>
              <input type="text" name="customer-mobile" class="form-control" placeholder="So we can contact you">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" name="email" class="form-control" placeholder="Email">
            </div>
          </form>


          <div class="cart-cost-container">
            <div class="cart-subtotal-container">
              <p class="cart-subtotal-title">Sub Total</p>
              <p class="cart-subtotal-cost">
                $<%=(subTotal).toFixed(2) %>
              </p>
            </div>
            <div class="cart-tax-container">
              <p class="cart-tax-title">Tax</p>
              <p class="cart-tax-cost">
                $<%=(subTotal / 10).toFixed(2) %>
              </p>
            </div>
            <div class="cart-total-container">
              <p class="cart-total-title">Total</p>
              <p class="cart-total-cost">
                $<%=(subTotal + (subTotal / 10)).toFixed(2)%>
              </p>
            </div>
          </div>

          <form method="POST" action="/menu/checkout">
            <button type="submit" class="cart-checkout-btn">Place Order</button>
          </form>

        </footer>
      </div>


</body>

</html>
