<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/_links') %>
  <script type="text/javascript" src="/scripts/timer_check.js"></script>

  <title>Grandma's Creamery - My Orders</title>
</head>

<body>
  <%- include('partials/_header') %>
  <div id='timer' class="timer"></div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Active Orders
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <% for (let i = 0; i < activeOrders.length; i++) { %>
          <% let a = Object.keys(activeItemQty[i]); %>
          <div class="card-body">
            <header>
              <h3>Order Name: <%= activeOrders[i].name %> </h3>
              <h3>Order Date: <%= activeOrders[i].created_at.toDateString() %> </h3>
            </header>
            <section>
              <ul>
                <% for (const name in activeItemQty[i]) { %>
                  <li><%= name %> x<%= activeItemQty[i][name] %> for <%= activeItemPrice[i][name] %> </li>
                <% } %>
              </ul>
            </section>
            <footer>
              <section>
                <h4>total quanity: <%= activeOrders[i].total_quantity %> </h4>
                <h4>total price: <%= activeOrders[i].total_price %> </h4>
              </section>
            </footer>
          </div>
        <% } %>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Past Orders
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <% for (let i = 0; i < pastOrders.length; i++) { %>
          <% let a = Object.keys(pastItemQty[i]); %>
          <div class="card-body">
            <header>
              <h3>Order Name: <%= pastOrders[i].name %> </h3>
              <h3>Order Date: <%= pastOrders[i].created_at.toDateString() %> </h3>
            </header>
            <section>
              <ul>
                <% for (const name in pastItemQty[i]) { %>
                  <li><%= name %> x<%= pastItemQty[i][name] %> for <%= pastItemPrice[i][name] %> </li>
                <% } %>
              </ul>
              </section>
              <footer>
                <section>
                  <h4>total quanity: <%= pastOrders[i].total_quantity %> </h4>
                  <h4>total price: <%= pastOrders[i].total_price %> </h4>
                </section>
              </footer>
            </div>
          <% } %>
        </div>
      </div>
    </div>
    <form id="back-to-menu" method="GET" action="/menu/">
      <button type="submit">Back to menu</button>
    </form>
  </body>
</html>
