<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/_links') %>
  <title>Grandma's Creamery - My Orders</title>
</head>

<body>
  <%- include('partials/_header') %>
  <h3>Active Orders</h3>
  <% for (let i = 0; i < activeOrders.length; i++) { %>
    <% let a = Object.keys(activeItems[i]); %>
    <table>
      <tr>
        <th>Order Name</th>
        <th>Order Date</th>
        <th>LIst of Items</th>
        <th>Total Quantity</th>
        <th>Total Price</th>
      </tr>
    <tr>
      <td>
        <%= activeOrders[i].name %>
      </td>
      <td>
        <%= activeOrders[i].created_at %>
      </td>
      <td>
        <% for (const name in activeItems[i]) { %>
          <%= name %>
          <%= activeItems[i][name] %>
        <% } %>
      </td>
      <td>
        <%= activeOrders[i].total_quantity %>
      </td>
      <td>
        <%= activeOrders[i].total_price %>
      </td>
    </tr>
</table>
  <% } %>
  <h3>Past Orders</h3>
    <% for (let i = 0; i < pastOrders.length; i++) { %>
      <% let a = Object.keys(pastItems[i]); %>
      <table>
        <tr>
          <th>Order Name</th>
          <th>Order Date</th>
          <th>LIst of Items</th>
          <th>Total Quantity</th>
          <th>Total Price</th>
        </tr>
      <tr>
        <td>
          <%= pastOrders[i].name %>
        </td>
        <td>
          <%= pastOrders[i].created_at %>
        </td>
        <td>
          <% for (const name in pastItems[i]) { %>
            <%= name %>
            <%= pastItems[i][name] %>
          <% } %>
        </td>
        <td>
          <%= pastOrders[i].total_quantity %>
        </td>
        <td>
          <%= pastOrders[i].total_price %>
        </td>
      </tr>
  </table>
    <% } %>
    <form method="GET" action="/menu/">
      <button type="submit">Back to menu</button>
    </form>
</body>
</html>
