<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <%- include('partials/_links') %>
  <script type="text/javascript" src="/scripts/timer_check.js"></script>

    <title>Grandma's Creamery - Menu</title>
</head>

<body class="container">
  <%- include('partials/_header') %>

<div id="timer" class="timer"></div>

    <main class="container col">
      <% for (let item of menu) { %>
        <article class="col gy-5">
          <h2>
            <%= item.name %>
          </h2>
          <figure class="figure">
            <img class="menu-pics" src=<%=item.photo_url %> class="figure-img img-fluid-rounded" alt="picture of store item">
          </figure>
          <div class='description'>
            <p>
              <%= item.description %>
            </p>
            <h3>
              $<%= item.price / 100 %>
            </h3>
            <div>
              <div>
                <button class='button-minus'>-</button>
                <span>0</span>
                <button class='button-plus'>+</button>
              </div>
              <button type="submit" class="add-cart-btn">Add to Cart</button>
            </div>
          </div>
          </div>
        </article>
        <% } %>
          <form action="/menu/checkout" method="GET">
            <button type="submit">Checkout</button>
          </form>
    </main>
</body>



</html>
